---
import Layout from "../layouts/Layout.astro";
import LandingSection from "../components/landingSection.astro";
import InfoSection from "src/components/InfoSection.astro";
import CakeSection from "src/components/CakesSection.astro";
---

<Layout title="Cake shop">
  <main>
    <LandingSection />
    <InfoSection />
    <CakeSection />
  </main>
</Layout>
<style></style>
