---
const { type = "primary", link } = Astro.props;
---

<button type="button" class={type}>
  <a href={link}></a>
  Mas informacion
</button>

<style>
  button {
    border-radius: 5px;
    height: 4rem;
    width: 15rem;
  }
  .primary {
    background: var(--quaternary-color);
    color: var(--white-color);
    border: none;
  }
  .secundary {
    background: var(--primary-color);
    border: 2px solid var(--quaternary-color);
    color: var(--quaternary-color);
    font-weight: 500;
  }
</style>
