---
const { type = "primary", link } = Astro.props;
---

<a href={link}>
  <button type="button" class={type}>
    <slot> Mas informacion </slot>
  </button>
</a>
<style>
  button {
    font-size: var(--typography-normal);
    font-family: "Lexend", sans-serif;
    border-radius: 5px;
    height: auto;
    min-height: 4rem;
    width: 15rem;
    padding: 0.4rem;
  }
  .primary {
    background: var(--quaternary-color);
    color: var(--white-color);
    border: none;
  }
  .secundary {
    background: var(--primary-color);
    border: 2px solid var(--quaternary-color);
    color: var(--quaternary-color);
    font-size: 1.6rem;
    font-weight: 500;
  }
</style>
