---
import CakeCard from "./CakeCard.astro";
import imgCremaFresa from "@assets/dulce-crema-fresas-w200.webp";
import imgFresa from "@assets/dulce-fresa-w200.webp";
import dulceCanela from "@assets/dulce-canela-w200.webp";
import imgPina from "@assets/dulce-piña-w200.webp";
---

<section id="cakes">
  <h2>Comprar</h2>
  <div class="cakesContainer">
    <CakeCard imgSrc={imgCremaFresa} title="Crema de fresa">
      Un postre suave y cremoso que encanta a todos.
    </CakeCard>
    <CakeCard imgSrc={imgFresa} title="Dulce de fresa" price="24.99">
      Sabor fresco y dulce que evoca los días de verano.
    </CakeCard>
    <CakeCard imgSrc={dulceCanela} title="Dulce de Canela" price="15.99">
      Un toque cálido y especiado para deleitar el paladar.
    </CakeCard>
    <CakeCard imgSrc={imgPina} title="Dulce de piña" price="14.99">
      Un manjar tropical que transporta a la playa.
    </CakeCard>
  </div>
</section>

<style>
  section {
    padding-top: 9rem; /*Quitar*/
  }
  h2 {
    margin-bottom: 36px;
    font-size: var(--typography-big);
    text-align: center;
  }
  /*.cakesContainer {*/
  /*width: 80vw;*/
  /*  /*margin: auto;*/
  /*  display: flex;*/
  /*  justify-content: space-evenly;*/
  /*  gap: 32px;*/
  /*  flex-wrap: wrap;*/
  /*}*/

  /*.cakesContainer {*/
  /*  width: 70vw;*/
  /*  margin: auto;*/
  /*  display: grid;*/
  /*  /*grid-template-columns: repeat(3, min-content);*/
  /*  grid-template-columns: repeat(3, 1fr);*/
  /*  /*gap: 32px;*/
  /*  justify-items: center;*/
  /*  /*justify-content: center;*/
  /*}*/

  .cakesContainer {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    gap: 44px;
    justify-items: center;
    justify-content: center;
  }
  @media (width<=920px) {
    section {
      padding: 2rem 1rem;
      padding-top: 9rem;
    }
  }
</style>
