---
import Slider from "./Slider.astro";
import Button from "./Button.astro";
---

<section id="home">
  <div class="title">
    <h1 class="shop_title">Cake Shop</h1>
    <p>Dulces deliciosos para todos los gustos</p>
    <div class="buttonArea">
      <Button link="#cakes">Comprar</Button>
      <Button link="#info" type="secundary" />
    </div>
  </div>
  <div class="landing-img">
    <Slider />
  </div>
</section>

<style>
  section {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    height: 100vh;
  }

  .title h1 {
    color: var(--quaternary-color);
    font-size: 11rem;
  }
  .title p {
    font-size: var(--typography-medium);
    color: var(--quaternary-color);
    font-weight: 400;
    font-style: italic;
    text-wrap: pretty;
  }

  .buttonArea {
    display: flex;
    justify-content: start;
    gap: 2rem;
    padding-top: 2rem;
  }
  /*mobile breakpoints*/

  @media (width <= 1220px) {
    .title h1 {
      font-size: 8rem;
    }
  }
  @media (width <=932px) {
    section {
      padding: 20px;
    }
  }

  @media (width <=932px) {
    section {
      flex-direction: column;
      /*flex-wrap: wrap;*/
      min-height: 915px;
      overflow: hidden;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /*margin-top: auto;*/
      padding-top: 9rem;
    }
    .title h1 {
      font-size: 8rem;
    }
  }
  @media (width <= 440px) {
    .title h1 {
      font-size: 5.6rem;
    }
    .title p {
      font-size: 2rem;
    }
  }
  @media (width <= 340px) {
    .buttonArea {
      flex-direction: column;
    }
  }
</style>
