---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
    </style>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --primary-color: #d6efd8;
    --secundary-color: #80af81;
    --terciary-color: #508d4e;
    --quaternary-color: #1a5319;
    --white-color: #f1fff3;
    /*----------------------------------typografia*/
    --typography-normal: 2rem;
    --typography-medium: 3rem;
    --typography-big: 4rem;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
    background: var(--primary-color);
    font-family: "EB Garamond", serif;
    /*font-optical-sizing: auto;*/
    /*font-weight: <weight>;*/
    /*font-style: normal;*/
  }
  /*code {*/
  /*  font-family:*/
  /*    Menlo,*/
  /*    Monaco,*/
  /*    Lucida Console,*/
  /*    Liberation Mono,*/
  /*    DejaVu Sans Mono,*/
  /*    Bitstream Vera Sans Mono,*/
  /*    Courier New,*/
  /*    monospace;*/
  /*}*/
</style>
