---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <!--<link rel="icon" type="image/svg+xml" href="/favicon.svg" />-->
    <link
      rel="preload"
      href="/fonts/Gabriela-Regular-kern-latin.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Lexend-ExtraBold-kern-latin.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Lexend-Medium-kern-latin.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <Navbar />
    </header>
    <slot />
  </body>
  <footer>
    <span class="footer-text">
      Hecho por <a href="https://github.com/abr-code">abr-code</a>
    </span>
  </footer>
</html>
<style is:global>
  :root {
    --primary-color: #d6efd8;
    --secundary-color: #80af81;
    --terciary-color: #508d4e;
    --quaternary-color: #1a5319;
    --white-color: #f1fff3;
    /*----------------------------------typografia*/
    --typography-normal: 2rem;
    --typography-medium: 3rem;
    --typography-big: 4rem;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--quaternary-color);
  }

  @font-face {
    font-family: "Gabriela";
    src:
      url(/fonts/Gabriela-Regular-kern-latin.woff2) format("woff2"),
      url(/fonts/Gabriela-Regular-kern-latin.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Lexend";
    src:
      url(/fonts/Lexend-ExtraBold-kern-latin.woff2) format("woff2"),
      url(/fonts/Lexend-ExtraBold-kern-latin.woff) format("woff");
    font-weight: 800;
    font-display: swap;
  }
  @font-face {
    font-family: "Lexend";
    src:
      url(/fonts/Lexend-Medium-kern-latin.woff2) format("woff2"),
      url(/fonts/Lexend-Medium-kern-latin.woff) format("woff");
    font-weight: 500;
    font-style: medium;
    font-display: swap;
  }

  html {
    font-size: 62.5%;
    background: var(--primary-color);
    font-family: "Lexend";
    font-weight: 500;
  }
  .shop_title {
    font-family: "Gabriela", serif;
  }
  h2,
  h3 {
    font-family: "Lexend", sans-serif;
    font-weight: 800;
  }
  section {
    padding: 2rem 4rem;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background: var(--quaternary-color);
  }
  footer .footer-text,
  .footer-text > a {
    font-size: var(--typography-normal);
    color: var(--primary-color);
  }
  /*code {*/
  /*  font-family:*/
  /*    Menlo,*/
  /*    Monaco,*/
  /*    Lucida Console,*/
  /*    Liberation Mono,*/
  /*    DejaVu Sans Mono,*/
  /*    Bitstream Vera Sans Mono,*/
  /*    Courier New,*/
  /*    monospace;*/
  /*}*/
</style>

<style></style>
